body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8fafc;
        }
        .hero-gradient {
            background-color: #195905;
        }
        .sticky {
            background-color: #f8fafc;
        }
        .nav-link {
            position: relative;
        }
        .ebalotalogo.img {
            display: flex;
            max-width: 100%;
            height: auto;
        }
        .nav-link:after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: rgb(6, 81, 16);
            transition: width 0.3s ease;
        }
        .nav-link:hover:after {
            width: 100%;
        }
        .floating {
            animation: floating 3s ease-in-out infinite;
        }
        @keyframes floating {
            0% { transform: translateY(0px); }
            50% { transform: translateY(-10px); }
            100% { transform: translateY(0px); }
        }